.card-template {
    background-color: #f1f4f8;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #e3e6ef;
    border: 0.5px solid;
}

.card-template .card-body {
    color: black;
}