<!-- <div class="container">
    <div class="row">
        <div class="col-sm"> -->
            <!-- One of three columns -->
        <!-- </div>
        <div class="col-sm">

            <div class="text-center mb-6 mt-6">
                <img src="./sdworx-assets/Logo_SdWorxTLPositive.png" alt="Your Logo" style="width: 250px; height: auto;">
            </div> -->


            <!-- <form [formGroup]="loginForm" *ngIf="loginForm">
                <div class="form-group mb-3">
                    <label class="form-label" for="txtEmail">Email</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Enter your email address" />
                </div>

                <div class="form-group mb-4">
                    <label class="form-label" for="txtPassword">Password</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Enter your password" />
                </div> -->

                <!-- <div class="text-center">
                    <button type="submit" class="btn btn-primary" style="width: 110px;" (click)="login()">Login</button>
                </div>
            </form>

        </div> -->

        <!-- <div class="col-sm"> -->
            <!-- One of three columns -->
        <!-- </div>
    </div>
</div> -->