<main class="page-container">
  <section class="list-container">
    <h1 class="list-header">SME List</h1>
    <div class="flex-container">
      <div class="cards">
      <ng-container *ngIf="(pendingRequestsWithUserDetails$ | async)?.length; else noResultTemplate">
        <article class="sme-card" *ngFor="let request of pendingRequestsWithUserDetails$ | async">

          <!-- <img src="{{request.photo?.uri}}" alt="{{ request.userName }} Avatar" class="request-avatar"> -->
          <img src={{request.userDetails.photo?.uri}} alt="{{ request.userName }} Avatar"
            class="sme-avatar">


              
          <div class="request-details">
            <h1> {{request.userName}}</h1>
            <!-- <h1> {{request.userDetails | json}}</h1> -->
            

            <p>Requesting to be SME in:</p>
            <div class="text">


              <ul>
                <li *ngFor="let area of request.areasOfExpertise">{{ area.expertiseArea }}</li>
              </ul>
              <app-sdworx-modal [item]="request.userDetails"></app-sdworx-modal>
              <!-- <app-display-details-modal [item]="request"></app-display-details-modal> -->


              <!-- <ng-container *ngFor="let area of request.areasOfExpertise; let last = last">
                {{ area.expertiseArea }}{{ !last ? ', ' : '' }}
              </ng-container> -->
            </div>
          </div>
          


          <div class="sme-action-accept-decline">
            <div class="book-container">
              <button class="btn btn-primary" (click)="Accept(request.requestId)">Accept</button>
              <button class="btn btn-secondary" (click)="Decline(request.requestId)">Decline</button>
            </div>
          </div>
        </article>
      </ng-container>
    </div>
      <ng-template #noResultTemplate>
        <div class="no-results">No results</div>
      </ng-template>
    </div>
    <div class="pagination-controls">
      <button (click)="previousPage()" class="btn btn-primary">Previous</button>
      <span>Page {{ currentPage.value + 1 }} of {{ totalPages }}</span>
      <button (click)="nextPage()" class="btn btn-primary">Next</button>
    </div>
  </section>