





<main class="page-container">
  <section class="list-container">
    <h1 class="list-header">SME List</h1>
    <div class="flex-container">
      <ng-container *ngIf="(filteredPendingRequest$ | async)?.length; else noResultTemplate">
        <article class="sme-card" *ngFor="let request of filteredPendingRequest$ | async">
          
          <img src="{{request.photo?.uri}}" alt="{{ request.userName }} Avatar" class="request-avatar">
          
          
          <div class="request-details">
            <h2>{{ request.userName }}</h2>
            <p>Email: {{ request.email }}</p>
            <p>Requesting to be SME in:</p>
            <ul>
              <li *ngFor="let area of request.areasOfExpertise">{{ area.expertiseArea }}</li>
            </ul>
            <p>Languages:</p>
            <ul>
              <li *ngFor="let language of request.languages">{{ language.languageName }}</li>
            </ul>
          </div>
          <div class="sme-action-book">
            <div class="book-container">
                <button class="btn btn-primary" (click)="Accept(request.requestId)">Accept</button>
                <button class="btn btn-secondary" (click)="Decline(request.requestId)">Decline</button>
            </div>
          </div>
        </article>
      </ng-container>
      <ng-template #noResultTemplate>
        <div class="no-results">No results</div>
      </ng-template>
    </div>
    <div class="pagination-controls">
      <button (click)="previousPage()" class="btn btn-primary">Previous</button>
      <span>Page {{ currentPage.value + 1 }} of {{ totalPages }}</span>
      <button (click)="nextPage()" class="btn btn-primary">Next</button>
    </div>
  </section>
