<div class="card-container">
  <div class="card">
    <h2>Login</h2>

    <!-- Error message if unsuccesful lgin-->
    <!-- Add an error message section -->
    <div class="alert alert-danger" *ngIf="errorMessage">
      <div class="alert-icon-functional"></div>
      <div class="alert-content">
        <!-- <div class="h6 alert-heading">{{ errorMessage }}</div> -->
        <p>{{ errorMessage }}</p>
      </div>
    </div>


    <form [formGroup]="loginForm" *ngIf="loginForm">
      <div class="form-group">
        <label for="email" class="form-label">Email </label>
        <input type="email" formControlName="email" class="form-control" placeholder="Enter your email..." id="email"
          [ngClass]="{
                  'is-invalid': loginForm.controls['email'].invalid && loginForm.controls['email'].dirty,
                  'is-valid': loginForm.controls['email'].valid
              }">
        <span *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].dirty" class="invalid-feedback">Please provide an valid Email</span>
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input type="password" formControlName="password" placeholder="Enter your password..." />
      </div>

      <div class="form-group">
        <p class="forgot-password-link">
          <a href="/forgotPassword">Forgot Password?</a>
        </p>
      </div>

      <button class="btn btn-primary btn-lg" aria-label="Login button" (click)="login()">Login</button>

      <div class="form-group">
        <p class="sign-up">
          <span class="not-registered-text">Not registered yet?</span>
          <a href="/register">Sign up</a>
        </p>
      </div>

    </form>
  </div>
</div>