<div class="container-fluid" [ngStyle]="{'display': (isSidenavVisible | async) ? 'flex' : 'none'}">
  <div class="row">
    <div class="col-md-3 sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
      <div class="logo-container">
        <div class="logo-img" *ngIf="collapsed">
          <img src="../../../../assets/hero_photos/Logo_SdWorx_Positive.png" alt="Logof Image" class="img-fluid">
        </div>
        <button title="button" class="btn btn-open-close" (click)="toggleCollapsed()">
          <i [class]="collapsed ? 'icons8-o-double-left' : 'icons8-o-double-right'"></i>
        </button>
      </div>

      <ul class="sidenavbar list-unstyled">
        <li class="sidenavbar-item" *ngFor="let navdata of sidenavData">
          <a class="sidenavbar-link" [routerLink]="[navdata.routerLink]" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">
            <i class="sidenavbar-icon" [class]="navdata.icon"></i>
            <span class="sidenavbar-link-text" *ngIf="collapsed">{{navdata.label}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

  
  