<!-- Main container for the sidenav and content -->
<mat-sidenav-container class="sidenav-container" autosize>
  <!-- Sidenav -->
  <mat-sidenav class="sidenav" #sidenav mode="side" opened position="start">
    <!-- Sidenav Header with logo and toggle button -->
    <div class="sidenav-header">
      <img *ngIf="!isCollapsed" class="logo-img" mat-image
           src="../../../../../assets/logos/Logo_SdWorx_Positive.png" alt="sdworximg">
        <!-- Button to toggle the sidenav -->
        <button title="button" class="btn btn-open-close" (click)="isCollapsed = !isCollapsed">
        <i [class]="isCollapsed ? 'icons8-o-double-right' : 'icons8-o-double-left'"></i>
      </button>
    </div>

    <mat-nav-list class="nav-list">
      <!-- Home link with icon and label -->
      <a class="list-link" mat-list-item routerLink="/home" routerLinkActive="link-active"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-icon icons8-f-home"></i>
        <span *ngIf="!isCollapsed">Home</span></a>
    </mat-nav-list>

    <mat-nav-list class="nav-list">
      <!-- Profile link -->
      <a class="list-link" mat-list-item routerLink="/profile">
        <i class="sidenav-icon icons8-f-user"></i>
        <span *ngIf="!isCollapsed">Profile</span></a>
    </mat-nav-list>

    <mat-nav-list class="nav-list">
      <!-- View SME List link -->
      <a class="list-link" mat-list-item routerLink="/sme-list">
        <i class="sidenav-icon icons8-f-eye"></i>
        <span *ngIf="!isCollapsed">View SME List </span></a>
    </mat-nav-list>

    <mat-nav-list class="nav-list">
      <!-- Request to be SME link -->
      <a class="list-link" mat-list-item routerLink="/profile">
        <i class="sidenav-icon icons8-f-done"></i>
        <span *ngIf="!isCollapsed">Request to be SME</span></a>
    </mat-nav-list>
  

    <mat-nav-list class="nav-list" *ngIf="isAgileCoach">
      <!-- Request to be SME list link -->
      <a class="list-link" mat-list-item routerLink="/request-to-be-sme">
        <i class="sidenav-icon icons8-f-done"></i>
        <span *ngIf="!isCollapsed">Pending SME list</span></a>
    </mat-nav-list>
  </mat-sidenav>

 <!-- Sidenav Content -->
  <mat-sidenav-content class="content">
    <!-- Toolbar with menu toggle button and welcome message -->
    <mat-toolbar class="sidenav-content">
      <button class="menu-btn" (click)="toggleSidenav()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="welcome-msg">Welcome!</span>

       <!-- logout button-->
       <div class="left-most">
        <!-- <button class="btn btn-primary" (click)="logout()">
            <i class="fa fa-sign-in me-2"></i>
            Logout
        </button> -->
        <sdwds-docs-header-profile></sdwds-docs-header-profile>
    </div>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
