<!-- Mobile Header -->
<div class="mobile-header" *ngIf="isMobile">
  <button class="hamburger-menu" (click)="toggleSidebar()" aria-label="Toggle Sidebar">
    ☰
  </button>
</div>

<!-- Page Container -->
<div class="page-container">
  <div class="spinner-container" *ngIf="isLoading">
    <div  class="spinner shake">
      <div class="dot-primary"></div>
      <div class="dot-accent"></div>
      <div class="dot-red-brand"></div>
      <div class="dot-yellow-brand"></div>
    </div>
  </div>
  <!-- List Container -->
  <section class="list-container" *ngIf="!isLoading">
    <header class="list-header">SME List</header>
    <div class="flex-container">
      <section class="sme-container" *ngFor="let sme of paginatedSmeList">
        <article class="sme-card">
          <img src="{{sme.avatarUrl}}" alt="{{ sme.username }} Avatar" class="sme-avatar">
          <div class="sme-details">
            <h1>{{ sme.username }}</h1>
            <h2>{{ sme.location }}</h2>
            <p>Subject Matter Expert in Product</p>
            <p>Expertise: {{ sme.areaOfExpertise }}</p>
            <button class="btn btn-secondary">View Profile</button>
          </div>
          <div class="sme-action-book">
            <div class="book-container">
              <button class="btn btn-primary">Book Meeting</button>
            </div>
          </div>
        </article>
      </section>
    </div>
    <!-- Pagination -->
    <nav class="pagination" *ngIf="isPaginationEnabled">
      <button (click)="previousPage()" class="btn btn-link">Previous</button>
      <span>{{ currentPage + 1 }} / {{ totalPages }}</span>
      <button (click)="nextPage()" class="btn btn-link">Next</button>
    </nav>
  </section>

  <!-- Options Container -->
  <aside class="options-container" [ngClass]="{'visible': sidebarVisible}">
    <!-- Search Box -->
    <div class="search-container">
      <div class="search-box">
        <label for="txtSearch" class="form-label">Search</label>
        <input type="search" class="form-control" id="txtSearch" placeholder="Search...">
      </div>
    </div>
    <!-- Filter Container -->
    <div class="filter-container">
      <label for="filterOption">Filter Option</label>
      <ng-select id="filterOption" [items]="movies" bindLabel="name" bindValue="id" [(ngModel)]="selectedMovie"></ng-select>
      <ng-select id="filterOption2" [items]="movies" bindLabel="name" bindValue="id" [(ngModel)]="selectedMovie"></ng-select>
    </div>
  </aside>
</div>
