<!-- Mobile Header -->
<div class="mobile-header" *ngIf="true">
  <button class="hamburger-menu" aria-label="Toggle Sidebar">
    ☰
  </button>
</div>
<div class="page-container">
  <section class="list-container">
    <header class="list-header">SME List</header>
    <div class="flex-container">
      <ng-container *ngIf="(filteredSmeList$ | async)?.length; else noResultsTemplate">
        <section class="sme-container" *ngFor="let sme of filteredSmeList$ | async">
          <article class="sme-card">
            <img src="https://api.dicebear.com/7.x/notionists/svg?seed=Sam" alt="{{ sme.username }} Avatar" class="sme-avatar">
            <div class="sme-details">
              <h1>{{ sme.username }}</h1>
              <p>Expertise: {{ sme.areaOfExpertise }}</p>
              <p>Country: {{ sme.location }}</p>
              <button class="btn btn-secondary">View Profile</button>
            </div>
            <div class="sme-action-book">
              <div class="book-container">
                <button class="btn btn-primary">Book Meeting</button>
              </div>
            </div>
          </article>
        </section>
      </ng-container>
      <ng-template #noResultsTemplate>
        <div class="no-results" style="text-align: center; padding: 4rem; font-size: 2rem;">No results</div>
      </ng-template>
    </div>
  </section>
    <aside class="options-container">
      <div class="search-container">
        <div class="search-box">
          <label for="txtSearch" class="form-label">Search by user name</label>
          <input type="search" class="form-control" id="txtSearch" placeholder="Enter name here..." [(ngModel)]="searchQuery" (input)="onSearchQueryChanged()">
        </div>
      </div>

      <ng-select [items]="countries"
                 bindLabel="name"
                 placeholder="Select Country"
                 (change)="onCountrySelected($event)">
      </ng-select>

      <ng-select [items]="expertiseFields"
                 bindLabel="name"
                 placeholder="Select Expertise"
                 (change)="onExpertiseSelected($event)">
      </ng-select>
  </aside>
</div>
