<div class="card-container">
  <div class="card">
    <h2>Register new account</h2>
    <form [formGroup]="form">
      <div class="form-group">
        <label>Email:</label>
        <input type="text" formControlName="email" placeholder="Enter your email..."/>
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input type="password" formControlName="password" placeholder="Enter your password..."/>
      </div>
      <div class="form-group">
        <label>Repeat password:</label>
        <input type="password" formControlName="repeatPassword" placeholder="Enter your password..." />
        <div [ngClass]="{'error-displayed': form.hasError('passwordsDoNotMatch') && form.get('repeatPassword')?.dirty, 'error': !form.hasError('passwordsDoNotMatch') || !form.get('repeatPassword')?.dirty}">
          Passwords do not match.
        </div>
      </div>
      <button class="btn btn-primary btn-lg" aria-label="Next step button" (click)="nextPage()" [disabled]="!(isEmailValid && isPassValid && isRepeatPassValid && !form.hasError('passwordsDoNotMatch'))">Next</button>
    </form>
  </div>
</div>
