<div class="card-container">
    <div class="card">
      <h3>Reset your password</h3>

      <p>Forgot your password? Not to worry, we can help. <br> Enter your login email address so we can identify your account</p>
  
      <!-- Error message if unsuccesful lgin-->
      <!-- Add an error message section -->
      <div class="alert alert-danger" *ngIf="errorMessage">
        <div class="alert-icon-functional"></div>
        <div class="alert-content">
          <!-- <div class="h6 alert-heading">{{ errorMessage }}</div> -->
          <p>{{ errorMessage }}</p>
        </div>
      </div>
  
  
      <form [formGroup]="submitForm" *ngIf="submitForm">
        <div class="form-group">
          <label for="email" class="form-label">Email </label>
          <input type="email" formControlName="email" class="form-control" placeholder="Enter your email..." id="email"
            [ngClass]="{
                    'is-invalid': submitForm.controls['email'].invalid && submitForm.controls['email'].dirty,
                    'is-valid': submitForm.controls['email'].valid
                }">
          <span *ngIf="submitForm.controls['email'].invalid && submitForm.controls['email'].dirty" class="invalid-feedback">Please provide an valid Email</span>
        </div>
        
        <button class="btn btn-primary btn-lg" aria-label="Login button" (click)="Submit()">Submit</button>
  
      </form>
    </div>
  </div>