.card-grid {
    display: grid;
    gap: 1rem; 
    grid-template-columns: repeat(3, 1fr);
  }

.card {
    width: 100%;
    max-width: 300px; /* Set a maximum width for the card if needed */
    height: 250px; /* Adjust the height of the card */
    border-radius: 8px;
    // overflow: hidden;
    text-align: center;
}

.card-img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block; 
}

.card-title {
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

.card:hover {
    border-color: #ed703d; 
}

body {
    background-color: #E9EAED;/* Use the desired shade of grey */
  }
  
  /* Or if you want to apply it to a specific container */
  .container {
    background-color: #E9EAED; /* Use the desired shade of grey */
  }

  .menu-icon i:hover {
    color: #007bff;
}

// .menu-icon{
//   display: none;
// }
// @media(max-width : 1025px){
//   .menu-icon{
//     display: block;
//   }
// }


